<style>
  .modal-content {
    background-color: #212121
  }
</style>

<!-- Join community model-->
<div class="modal fade" id="Modal-JoinCommunity-{{x.id}}"
    tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <h5 class="modal-title" id="ModalLabel">
         Join community
       </h5>
       <button type="button" class="close"
               data-dismiss="modal" aria-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
     </div>
     <div class="modal-body">
         <form method="POST">
             {{ joinForm.hidden_tag() }}
             <h3 class="text-center" style="color: aliceblue;">
               Do you want to join {{ x.community_name }}?
             </h3>
           
             <br>
             <input id="toBeDeleted" name="toBeAdded" type="hidden" value= {{x.id}}>
             {{ joinForm.join(class = "btn btn-success btn-block") }}
         </form>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary"
               data-dismiss="modal">Close
       </button>
     </div>
   </div>
 </div>
</div>   