{% extends 'base.html' %}
{% block title %}
  About Us
{% endblock %}
{% block content %}
<div class="about-us">hey!!! we are group of students currently studing in KJ somaiya (Computer branch). we had made a application named as Bonfire . Bonfire lets friends chat with each other either one-to-one or as a group via a server. you can use it to send direct messages to friends,have video calls with them, voice chat and even screen share. Once you're on a server, you can join a voice chat channel to get talking to other gamers playing specific games and also you can play many games over here. Student Hubs: Bonfire Hubs for Students allow students to verify their Bonfire account with their official student email, and unlock access to an exclusive hub for students at their school. Within the hub, they can connect with other verified students, discover servers for study groups or classes, and share their own servers for fellow students to join. Hubs are not affiliated with or managed by a school or school staff. Servers in a Hub are student-run but may include non-students.</div>
{% endblock %}