<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8" />
        <title>
          {% block title %}
          {% endblock %}
        </title>
        
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
        <link rel="stylesheet" href="/static/main.css">
        <link rel="icon" href="/static/images/bonfire/5.png" type="image/icon type">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        
    </head>
    <body>
      <div class = "mainSec-1">  
        <nav>
            <div class="logo">
              <a  href="{{ url_for('homePage') }}"><img src="/static/images/bonfire/3.png" alt=""  ></a>
            </div>
              <ul class="navbarContainer">
                {% if current_user.is_authenticated %}
                  <li>
                    <a class="navElem" href="#">About Us</a>
                  </li>
                  <li>
                    <a class="navElem" href="{{ url_for('featuresPage') }}">Features</a>
                  </li>
                  <li>
                    <a class="navElem" href="{{ url_for('contactPage') }}"">Contact</a>
                  </li>
                  <li>
                    <a class="navElem" href="{{ url_for('communitiesPage') }}">Communities</a>
                  </li>
              </ul>
              <div class="btn-group profile ">
                <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="bi bi-person-fill"></i>
                </button>
                <div class="dropdown-menu bg-black">
                  <span class="dropdown-item text-light" style="font-size: large;" >Welcome, {{ current_user.username }} !</span>
                  <div class="dropdown-divider bg-light"></div>
                  <a class="dropdown-item text-light " href="{{ url_for('logoutPage') }}">Logout</a>
                </div>
              </div>
            </nav>
                {% else %}
                  <li>
                    <a class="navElem" href="#">About Us</a>
                  </li>
                  <li>
                    <a class="navElem" href="{{ url_for('featuresPage') }}">Features</a>
                  </li>
                  <li>
                    <a class="navElem" href="{{ url_for('contactPage') }}"">Contact</a>
                  </li>
                  <li>
                    <a class="navElem" href="{{ url_for('registerPage') }}">Register</a>
                  </li>
                </ul>
              </nav>
                {% endif %}
          <br><br><br>
          {% block content %}
          {% endblock %}
          
          <footer>
            <br><br><br>
            <p class="footerHeading">Follow us</p>
            <div = class="socialMedia">
              <a class="footerIcon" href="https://twitter.com/"><i class="bi bi-twitter"></i></a>
              <a class="footerIcon" href="https://www.instagram.com/"><i class="bi bi-instagram "></i></a>
              <a class="footerIcon" href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a>
              <a class="footerIcon" href="https://www.youtube.com/"><i class="bi bi-youtube"></i></a>

            </div>
            <p class="footerHeading">We'd love to hear from you</p>
            <div = class="socialMedia">
              <a class="footerIcon" href="tel:1234567890"><i class="bi bi-telephone-fill"></i></a>
              <a class="footerIcon" href="mailto: bonfire@gmail.com"><i class="bi bi-envelope-fill"></i></a>
              <a class="footerIcon" href="https://wa.me/9876543210"><i class="bi bi-whatsapp"></i></a>
            </div>
          </footer>
      </div>
    </body>
    {% block scripts %} 
    {% endblock %}
</html>