{% extends 'base.html' %}
{% block title %}
  Features
{% endblock %}
{% block content %}


 <h1 style="text-align: center;color: aliceblue;">Features</h1>
 <div class="image1">
 <img src="../static/images/1..jpeg" alt="login-image" height="500px" width="300px">
<p>Register:<br>
if login fails ie if user dont have any account then register feature will work.
<br>
It contains username where user have to insert any name of his choice, e-mail address 
which should belong to user,<br>
password where user has to enter password of his choice
same password should be enter in confirm password section<br>
last is to tick the check box
of terms and conditions. 

</p></div>

 <div class="image2">
 <img src="../static/images/2.jpeg" alt="signup-image" height="500px" width="300px">
<p>Login:<br>
It will verify whether the Login Functionality is working properly or not.<br>
Feature: Login Scenario: Login Functionality Given user navigates to the website 
And there user logs in through Login Window 

</p></div>
 <div class="image3">
 <img src="../static/images/3.jpeg" alt="login-image" height="500px" width="800px">
<p>Chat Window:<br>

this is common chat window where you can type massage and chat with your friend.</p></div>
 <div class="image4">
 <img src="../static/images/4.jpeg" alt="login-image" height="500px" width="800px"><br>
Create your own community:<br>

This feature helps user to creat his own server.<br>
You can give name to your server
and write description about your server i.e for what purpose this server is made.<br>

once you click on create button server would we created.</p></div>
 <div class="image5">
 <img src="../static/images/5.jpeg" alt="login-image" height="500px" width="800px"><p>
Contact US:
<br>
This feature will help you to contact us and solve any issue regarding this site.
user can contact via e-mail and write there problem below.</p></div>	
 <div class="image6">
 <img src="../static/images/6.jpeg" alt="login-image" height="500px" width="800px">
<p>Entry page:<br>


User can see all the features on this enter page.
this page is a user friendy page which will easy guid you about whole website.</p></div>


{% endblock %}