{% extends 'base.html' %}
{% block title %}
  Bonfire
{% endblock %}
{% block content %}
  <div class = "mainText">
    <p class = 'mainTextHeading'>Create and Join your favourite community</p>
    <div class="loginButton">
      {% if current_user.is_authenticated %}
      <button type="button" class="btn btn-outline-warning btn-lg"><a href="{{ url_for('chat') }}"">Chat</a></button>
      {% else %}
      <button type="button" class="btn btn-outline-warning btn-lg"><a href="{{ url_for('loginPage') }}"">Login</a></button>
      {% endif %}
    </div>
    <br>
    <p class="mainTextBody"> Great things happen when like minds meet!</p>
    <p class="mainTextBody"> Create or join communities that intrigue you</p>
    <p class="mainTextBody"> and interact with thounsands of people like you.</p>
    <p class="mainTextBody"> Turn the little spark in a conversation to a Bonfire!</p>

    
  </div>
  <div class="sec-1Imgs">
    
    <div class="imgLeft">
      <img src="/static/images/sofacat.png" alt=""> 
    </div>
    <div class="imgRight">
      <img src="/static/images/sofa.png" alt="">
    </div>
  </div>
{% endblock %}