{% extends 'base.html' %}
{% block title %}
  Login
{% endblock %}
{% block content %}
  <br><br><br>
    <div class="formContainer">
        <form method="POST" class="form-register">
            {{logForm.hidden_tag()}}
            <div class="formLogo">
              <a href="{{ url_for('homePage') }}">
                <img src="/static/images/bonfire/3.png" alt="">
              </a>
            </div>
            
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              {{logForm.username(type="username", class="form-control", id="username", placeholder="JonhWick07")}}
              <!-- <input type="email" class="form-control" id="email" placeholder="user@sample.com" required> -->
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              {{logForm.password(type="password", class="form-control", id="password")}}
              <!-- <input type="password" class="form-control" id="password"> -->
            </div>
            <br>
            {% with messages = get_flashed_messages(with_categories = true) %}
              {% if messages %}
                {% for category,message in messages%}
                  
                  <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    </button>
                  </div>
                {% endfor%}
              {% endif %}
            {% endwith %}
            <br>
            <div class="buttonDiv">
              {{logForm.login(class = "btn btn-lg btn-primary")}}
              <!-- <button type="submit" class="btn btn-primary" >Login</button> -->
            </div>
        </form>
        <br>
        <div style="text-align: center;">New user?<a href="{{ url_for('registerPage')}}">Register</a></div>
        
    </div>
  <br><br><br>
{% endblock %}
