{% extends 'base.html' %}
{% block title %}
  Register
{% endblock %}
{% block content %}
  <div class="formContainer">
    <form method="POST">
      {{regForm.hidden_tag()}}
        <div class="formLogo">
          <a href="{{ url_for('homePage') }}">
            <img src="/static/images/bonfire/3.png" alt="" height="60px">
          </a>
          
        </div>
        {% with messages = get_flashed_messages(with_categories = true) %}
          {% if messages %}
            {% for category,message in messages%}
              <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
              </div>
            {% endfor%}
          {% endif %}
        {% endwith %}
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          {{ regForm.username(type="text", class="form-control", id="username", placeholder="JohnWick07") }}
          <!-- <input type="text" class="form-control" id="username" placeholder="JohnWick07" required> -->
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          {{ regForm.email(type="text", class="form-control", id="username", placeholder="user@tempmail.com") }}
          <!-- <input type="email" class="form-control" id="email" placeholder="user@sample.com" required> -->
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          {{ regForm.password(class="form-control") }}
          <!-- <input type="password" class="form-control" id="password"> -->
        </div>
        <div class="mb-3">
          <label for="confirmpassword" class="form-label">Confirm password</label>
          {{ regForm.conpassword(class="form-control") }}
          <!-- <input type="password" class="form-control" id="confirmpassword"> -->
        </div>
        <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="tncs" required>
        <label class="form-check-label" for="tncs">I agree to T&Cs</label>
        </div>
        <div class="buttonDiv">
          {{ regForm.register(class="btn btn-primary") }}
          <!-- <button type="submit" class="btn btn-primary" >Register</button> -->
        </div>
        <br>
        <div style="text-align: center;">Have an account?<a href="{{ url_for('loginPage')}}">Login</a></div>
      </form>
    
  </div>
  <br><br><br>
{% endblock %}
