{% extends 'base.html' %}
{% block title %}
  Contact Us
{% endblock %}
{% block content %}
<br><br><br>
  <div class="contact">
      <h1>Contact Us</h1>
      <div class="link-content">
        <a href="https://www.instagram.com/aaayussshhh_/" class="link">Instagram</a> <br>
        <a href="https://www.linkedin.com/in/aayush-pandey-b6b349210/" class="link">Linkedin</a> <br>
        <a href="https://www.youtube.com/" class="link">Youtube</a> <br>
        <a href="mailto: aayushpandey2018@gmail.com" class="link">Gmail</a> <br>
      </div>
  </div>
{% endblock %}
